body {
    font-family: Georgia, Times, "Times New Roman", serif;
}
#container {
  text-align: center;
}
#container ul {
  display: inline-block;
  margin: 10px 0;
  padding: 2px;
}
ul {
  list-style-type: none;
  display: inline-block;
  text-align:left;
}
li {
  margin: 10px 0;
}
html:before,html:after,body:before,body:after{
    content:"";
    background: white;
    position:fixed;
    display:block;
    z-index:5;
    opacity: .7;
    box-shadow:
    0 0 0 50px hsla(0, 0%, 99%, 0.91),
    0 0 0 40px hsla(0, 0%, 90%, .92),
    0 0 0 35px hsla(0, 0%, 80%, .93),
    0 0 0 30px hsla(0, 0%, 70%, .94),
    0 0 0 25px hsla(0, 0%, 50%, .95),
    0 0 0 20px hsla(0, 0%, 40%, .96),
    0 0 0 15px hsla(0, 0%, 30%, .97),
    0 0 0 10px hsla(0, 0%, 20%, .98),
    0 0 0 5px hsla(0, 0%, 10%, .1);
}
html:before{
    height:0;
    left:0;
    right:0;
    top:0;
    
}
html:after{
    width:20;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:20;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:20;
    top:0;
    bottom:0;
    left:0;
}
